<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quizzy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C0E6B481F0DCE1B0095E522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C0E6B5C1F0DCE1C0095E522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C0E6B671F0DCE1C0095E522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
